@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100dvh;
}

body {
  padding: 12px 16px;
  background-color:#EEF0F4;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
